<div class="container">
    <form #courseForm="ngForm">
        <div class="row justify-content-start p-3">
            <div class="col-md-4 form-group">
                <label for="course" class="form-label text-primary">Course</label>
                <input
                    type="text"
                    id="course"
                    class="form-control"
                    [(ngModel)]="course.course"
                    name="course"
                    placeholder="Enter course name"
                    required
                />
            </div>
        </div>
        
        <div class="row justify-content-start p-3">
            <div class="col-md-4 form-group">
                <label for="module" class="form-label text-primary">Module</label>
                <input
                    type="text"
                    id="module"
                    class="form-control"
                    [(ngModel)]="course.module"
                    name="module"
                    placeholder="Enter module name"
                    required
                />
            </div>
        </div>
        
        <div class="row justify-content-start p-3">
            <div class="col-md-4 text-end">
                <button 
                    (click)="createCourse()" 
                    class="btn btn-outline-success"
                    [disabled]="!course.course || !course.module">
                    Ajoutez le cours
                </button>
            </div>
        </div>
    </form>
</div>
